root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 2
ij_continuation_indent_size = 2
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true

[*.rs]
ij_rust_keep_blank_lines_in_code = 2
ij_rust_keep_blank_lines_in_declarations = 2
ij_rust_keep_line_breaks = true

[*.ps1]
ij_powershell_block_brace_style = end_of_line
ij_powershell_space_before_if_parentheses = false
ij_powershell_else_on_new_line = false
ij_powershell_special_else_if_treatment = false
ij_powershell_method_brace_style = end_of_line
